*.log
*.zip
*.pickle
#*.xlsx
Untitled*.py
.ipynb_checkpoints/*

# Ignore all PNG files everywhere
*.png

# EXCEPTION: do NOT ignore PNGs inside /doc
!docs/*.png
!docs/**/*.png
# EXCEPTION: do NOT ignore PNGs inside /doc
!docsrc/images/*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*/.ipynb_checkpoints
*/.pytest_cache
*$py.class
# docsrc/docs/**

# Directories
.bck/**
bat/**
pylikesas_from_sas/**
venv_python3138_pyLikeSAS
#.temp/**
#docsrc/_build/**
#docsrc/autoapi/

/.quarto/
**/*.quarto_ipynb
