.quarto-page-breadcrumbs .breadcrumb-item,
.quarto-page-breadcrumbs .breadcrumb-item a {
    text-transform: none !important;
}
/* .quarto-page-breadcrumbs {
    position: sticky !important;
    top: 3.5rem;
    z-index: 1000;
    background: var(--quarto-body-bg);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
} 
*/
/* Always show all sidebar sections */
.sidebar .collapse {
    display: block !important;
    height: auto !important;
}

/* Hide the expand/collapse toggle arrows */
.sidebar .collapse-toggle {
    display: none !important;
}